/* Background Color*/
body
{
	background-color: #d3edea;
	
    height: 100%;
	width: 100%;
}

/* Title */
h1
{
    color: rgb(29, 42, 84);
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    
    margin-bottom: 20px;
    margin-left: 40%;
}

/* Header */
h3
{
    background-color: #fefefe;
    
    color: rgb(29, 42, 84);
    font-family:sans-serif Condensed;
    text-align: left;
    font-size: 20px;
    
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
	margin-left: 4%;
    margin-right: 8%;
    padding: 8px;
    box-shadow: 10px 10px 0px 5px teal;
}

/* Bio Grid Formatting*/
.column
{ 
    float:left;
    width:50%;
}

.row
{   
    display: flex;
}

/* Individual Images*/
img
{
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 10%;
    box-shadow: 10px 10px 0px 5px rgb(29, 42, 84);
    width: 400px;
	height: 400px;
    outline: none;
}
img:hover,img:focus
{
 box-shadow: 20px 20px 0px 8px black   
}

/* Button Behind Image*/
button
{
    border-color:transparent;
    background-color: transparent;
    
    width: 400px;
	height: 400px;
    padding-left: 50px;
    outline-offset: inherit;
    shape-outside: content-box;
    outline: none;
}

/* Modal*/
/* Background*/
.modal 
{
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(29, 42, 84,.4);
}

/* Modal */
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px rgb(29, 42, 84);  
    border-radius: 20px;
}

/* Header */
.modal-header {
    padding: 2px 16px;
    background-color: #d3edea;
    border-radius: 10px;
    color: rgb(29, 42, 84);
    font-size: 35px
}

/* Body */
.modal-body {padding: 2px 16px;}


/* Main Body */
.modal-content {
    background-color: #fefefe;
    
    font-family: sans-serif;
    text-align: left;
    font-size: 25px;
    color:rgb(29, 42, 84);
    
    position:static;
    padding: 0;
    border: 5px solid black;
    box-shadow: 10px 10px 5px rgb(29, 42, 84);
    width: 80%;
}

/* Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #d3edea;
    border-radius: 20px;
    color: #000000;
    font-size: 20px;
}

/* The Close Button */
.close {
  color: rgb(39, 33, 99);
  float: right;
  font-size: 40px;
  font-weight: bold;
}
